<%= form_with(model: bakery_product, local: true) do |form| %>
  <% if bakery_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bakery_product.errors.count, "error") %> prohibited this bakery_product from being saved:</h2>

      <ul>
      <% bakery_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bakery_id %>
    <%= form.text_field :bakery_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
