<h1>Bakery Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bakery</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bakery_products.each do |bakery_product| %>
      <tr>
        <td><%= bakery_product.bakery %></td>
        <td><%= bakery_product.product %></td>
        <td><%= bakery_product.quantity %></td>
        <td><%= link_to 'Show', bakery_product %></td>
        <td><%= link_to 'Edit', edit_bakery_product_path(bakery_product) %></td>
        <td><%= link_to 'Destroy', bakery_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bakery Product', new_bakery_product_path %>
