<p id="notice"><%= notice %></p>

<p>
  <strong>Bakery:</strong>
  <%= @bakery_product.bakery %>
</p>

<p>
  <strong>Product:</strong>
  <%= @bakery_product.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bakery_product.quantity %>
</p>

<%= link_to 'Edit', edit_bakery_product_path(@bakery_product) %> |
<%= link_to 'Back', bakery_products_path %>
