<h1>Users</h1>

<table class="table">
  <thead>
  <tr>
    <th>Role</th>
    <th>Email</th>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Créé le</th>
    <th>Adresse</th>
    <th>Code postal</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <% if user.is_admin? %>
        <td>Administrateur</td>
      <% else %>
        <td>Utilisateur</td>
      <% end %>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.created_at %></td>
      <td><%= user.street %></td>
      <td><%= user.postal_code %></td>
      <td><%= user.city %></td>
      <td><%= user.country %></td>

      <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>