<!DOCTYPE html>
<html>
<head>

  <title>La carte du pain</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'util' %>
  <%= stylesheet_link_tag 'fontawesome' %>

</head>

<body>

<header>
  <div class=topbar>
    <h1><%= link_to 'Administration', admin_index_path, style: 'color: #ffffff' %></h1>
    <section>
      <div class="container-login100-form-btn">
        <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete, :class => "login100-form-btn" %>
      </div>
    </section>
  </div>
</header>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="mt">
        <%= link_to 'Users', admin_users_path, style: 'color: #ffffff' %>
      </li>
      <li>
        <%= link_to 'Bakeries', bakeries_path, style: 'color: #ffffff' %>
      </li>
      <li>
        <%= link_to 'BakeryPhotos', bakery_photos_path, style: 'color: #ffffff' %>
      </li>
      <li>
        <%= link_to 'Bakers', bakers_path, style: 'color: #ffffff' %>
      </li>
      <li>
        <%= link_to 'Products', products_path, style: 'color: #ffffff' %>
      </li>
      <li>
        <%= link_to 'BakeryProducts', bakery_products_path, style: 'color: #ffffff' %>
      </li>
      <li>
        <%= link_to 'Orders', orders_path, style: 'color: #ffffff' %>
      </li>
      <li>
        <%= link_to 'OrderProducts', order_products_path, style: 'color: #ffffff' %>
      </li>
    </ul>
  </nav>
  <section>
    <div class='admin-body'>
      <%= yield %>
    </div>
  </section>
</body>
</html>