<!DOCTYPE html>
<html>
<head>

  <title>La carte du pain</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

  <%= stylesheet_link_tag 'appli' %>
  <%= stylesheet_link_tag 'util' %>
  <%= stylesheet_link_tag 'fontawesome' %>
  <%= stylesheet_link_tag 'searchbar-menu' %>
</head>

<body>
<header>
  <div class=topbar>
    <h1><%= link_to 'La carte du pain', appli_map_path, style: 'color: #ffffff' %></h1>
    <section>
      <div class="container-login100-form-btn">
        <%= link_to 'Boulangerie 1', appli_bakery_path, :class => "login100-form-btn" %>
        <%= link_to 'Panier', appli_panier_path, :class => "login100-form-btn" %>
        <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete, :class => "login100-form-btn" %>
      </div>
    </section>
  </div>
</header>
<section>
  <div class="form-et-map">
    <%= yield %>
  </div>
</section>
</body>
</html>
