<!DOCTYPE html>
<html>
<head>
  <title>La carte du pain</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag 'background-welcome' %>
  <%= stylesheet_link_tag 'welcome' %>
  <%= stylesheet_link_tag 'util' %>
  <%= stylesheet_link_tag 'fontawesome' %>
</head>

<body>

<%= yield %>

</body>
</html>