<p id="notice"><%= notice %></p>

<p>
  <strong>Bakery:</strong>
  <%= @baker.bakery %>
</p>

<p>
  <strong>User:</strong>
  <%= @baker.user %>
</p>

<%= link_to 'Edit', edit_baker_path(@baker) %> |
<%= link_to 'Back', bakers_path %>
