<%= form_with(model: bakery_photo, local: true) do |form| %>
  <% if bakery_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bakery_photo.errors.count, "error") %> prohibited this bakery_photo from being saved:</h2>

      <ul>
      <% bakery_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bakery_id %>
    <%= form.text_field :bakery_id %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
