<h1>Bakery Photos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bakery</th>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bakery_photos.each do |bakery_photo| %>
      <tr>
        <td><%= bakery_photo.bakery %></td>
        <td><%= bakery_photo.photo %></td>
        <td><%= link_to 'Show', bakery_photo %></td>
        <td><%= link_to 'Edit', edit_bakery_photo_path(bakery_photo) %></td>
        <td><%= link_to 'Destroy', bakery_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bakery Photo', new_bakery_photo_path %>
