<p id="notice"><%= notice %></p>

<p>
  <strong>Bakery:</strong>
  <%= @bakery_photo.bakery %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @bakery_photo.photo %>
</p>

<%= link_to 'Edit', edit_bakery_photo_path(@bakery_photo) %> |
<%= link_to 'Back', bakery_photos_path %>
