<div class="body-welcome">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'login100-form validate-form') do |f| %>

          <div class="login100-form-title m-b-60">
            <span class="login100-form-title p-b-34 p-t-27">Bienvenue sur <br>
              <h1>La carte du pain</h1></span>
          </div>

          <span class="login100-form-title p-b-34 p-t-27"> Identifiez-vous </span>

          <div class="wrap-input100 validate-input" data-validate="Enter username">
            <%= f.email_field :email, autofocus: true, :placeholder => "Adresse email", :id => "email", :class => 'input100' %>
          </div>

          <div class="wrap-input100 validate-input m-b-10" data-validate="Enter password">
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Mot de passe", :id => "password", :class => 'input100' %>
          </div>

          <div class="text m-b-30">
            <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), :class => 'txt1' %>
            <% end %>
          </div>

          <div class="contact100-form-checkbox">
            <% if devise_mapping.rememberable? %>
              <div><%= f.check_box :remember_me, :class => 'input-checkbox100', :id => 'remember-me' %></div>
            <% end -%>
            <label class="label-checkbox100" for="ckb1">
              Rester connecté ?
            </label>
          </div>

          <div class="container-login100-form-btn m-t-50 m-b-10">
            <%= f.submit 'Connexion', :class => "login100-form-btn" %>
          </div>
          <div class="text-center">
            <%= link_to "Pas encore inscrit ? Inscrivez-vous ici", welcome_registration_path, :class => 'txt1' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>