<div class="body-welcome">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => 'login100-form validate-form') do |f| %>

          <span class="login100-form-title p-b-34 p-t-27"> Inscrivez-vous </span>

          <div class="row">
            <div class="wrap-input50 validate-input" data-validate="Enter first_name">
              <%= f.text_field :first_name, autofocus: true, :placeholder => "Prenom", :id => "prenom", :class => 'input50' %>
            </div>
            <div class="wrap-input50 validate-input" data-validate="Enter last_name">
              <%= f.text_field :last_name, autofocus: true, :placeholder => "Nom", :id => "nom", :class => 'input50' %>
            </div>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter username">
            <%= f.email_field :email, autofocus: true, :placeholder => "Adresse email", :id => "email", :class => 'input100' %>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Mot de passe", :id => "password", :class => 'input100' %>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirmation", :id => "password-confirmation", :class => 'input100' %>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter street">
            <%= f.text_field :street, autofocus: true, :placeholder => "Adresse", :id => "address", :class => 'input100' %>
          </div>

          <div class="row">
            <div class="wrap-input50 validate-input" data-validate="Enter first_name">
              <%= f.text_field :city, autofocus: true, :placeholder => "Ville", :id => "city", :class => 'input50' %>
            </div>
            <div class="wrap-input50 validate-input" data-validate="Enter last_name">
              <%= f.text_field :postal_code, autofocus: true, :placeholder => "Code postal", :id => "postal_code", :class => 'input50' %>
            </div>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter street">
            <%= f.text_field :country, autofocus: true, :placeholder => "Pays", :id => "country", :class => 'input100' %>
          </div>

          <div class="container-login100-form-btn m-t-50 m-b-10">
            <%= f.submit "S'inscrire", :class => "login100-form-btn" %>
          </div>
          <div class="text-center">
            <%= link_to "Déjà un compte ? Je me connecte", root_path, :class => 'txt1' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>