<h1>Orders</h1>

<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>Bakery</th>
    <th>Price</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.user.id %></td>
      <td><%= order.bakery.id %></td>
      <td><%= order.price %></td>
      <% if order.status == 1 %>
        <td>Validé</td>
      <% elsif order.status == 2 %>
        <td>Refusé</td>
      <% else %>
        <td>En attente</td>
      <% end %>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
