<%= form_with(model: bakery, local: true) do |form| %>
  <% if bakery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bakery.errors.count, "error") %> prohibited this bakery from being saved:</h2>

      <ul>
      <% bakery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_hour %>
    <%= form.number_field :start_hour %>
  </div>

  <div class="field">
    <%= form.label :start_minute %>
    <%= form.number_field :start_minute %>
  </div>

  <div class="field">
    <%= form.label :end_hour %>
    <%= form.number_field :end_hour %>
  </div>

  <div class="field">
    <%= form.label :end_minute %>
    <%= form.number_field :end_minute %>
  </div>

  <div class="field">
    <%= form.label :partner %>
    <%= form.check_box :partner %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
