<h1>Bakeries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Partner</th>
      <th>Street</th>
      <th>City</th>
      <th>Postal code</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bakeries.each do |bakery| %>
      <tr>
        <td><%= bakery.id %></td>
        <td><%= bakery.name %></td>
        <td><%= bakery.partner %></td>
        <td><%= bakery.street %></td>
        <td><%= bakery.city %></td>
        <td><%= bakery.postal_code %></td>
        <td>
          <%= link_to 'Show', bakery %>
          <%= link_to 'Edit', edit_bakery_path(bakery) %>
          <%= link_to 'Destroy', bakery, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bakery', new_bakery_path %>
