<p id="notice"><%= notice %></p>


<p>
  <strong>Id:</strong>
  <%= @bakery.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bakery.name %>
</p>

<p>
  <strong>Start hour:</strong>
  <%= @bakery.start_hour %>
</p>

<p>
  <strong>Start minute:</strong>
  <%= @bakery.start_minute %>
</p>

<p>
  <strong>End hour:</strong>
  <%= @bakery.end_hour %>
</p>

<p>
  <strong>End minute:</strong>
  <%= @bakery.end_minute %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @bakery.partner %>
</p>

<p>
  <strong>Country:</strong>
  <%= @bakery.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @bakery.city %>
</p>

<p>
  <strong>Postal_code:</strong>
  <%= @bakery.postal_code %>
</p>

<p>
  <strong>Street:</strong>
  <%= @bakery.street %>
</p>

<%= link_to 'Edit', edit_bakery_path(@bakery) %> |
<%= link_to 'Back', bakeries_path %>
