<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= @bakery.name %></h1>
      <p class="lead text-muted"><%= @bakery.street + ', ' + @bakery.postal_code + ' ' + @bakery.city + ', ' + @bakery.country %></p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true" src=<%= image_path("standard-product.jpg") %>>
              <div class="card-body">
                <p class="card-text"><%= Product.where(id:product.product_id).first.name %></p>
                <p class="card-text"><%= Product.where(id:product.product_id).first.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au panier</button>
                  </div>
                  <small class="text-muted"><%= Product.where(id:product.product_id).first.price %> €</small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>