<div class="form-group" style="display: inline; width: 100%">
  <%= form_tag appli_map_path, method: :get do %>
    <!-- Search form -->
    <div class="row left-0 right-0 searchbar m-r-0 m-l-0">
      <%= text_field_tag :search, params[:search], class: 'form-control col-md-10 ', placeholder: 'Ville ...' %><%= submit_tag "Rechercher", class: 'form-control col-md-2' %>
    </div>
  <% end %>
</div>

<div class="map-appli">
<%= react_component("Map", {
    googleApiKey: @google_api_key,
    center: @map_center,
    user_loc: @user_loc,
    bakeries: @bakeries,
    zoom: @map_zoom}, {:style => "height:100%"}) %>
</div>