@font-face {
    font-family: Poppins-Regular;
    src: url('/assets/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/assets/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/assets/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/assets/Poppins-SemiBold.ttf');
}

:root {
    --topbar-height: 80px;
    --padding: 25px;
    --searchbar-height: 40px;
}

html, body {
    height: 100%;
}

header {
    height: var(--topbar-height);
}

.topbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: lightblue;
    width: 100%;
    padding: 0 25px;
    height: var(--topbar-height);
    line-height: var(--topbar-height);
}

.topbar h1 {
    line-height: unset;
    color: #ffffff !important;
    text-transform: uppercase;
}

.topbar a {
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 5px;
}

.topbar section {
    position: absolute;
    top: 0px;
    right: 25px;
    height: 80px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-appli {
    right: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    top: calc(var(--topbar-height) + var(--searchbar-height));
}

.form-et-map {
    top: var(--topbar-height);
    bottom: 0;
}

.searchbar {
    height: var(--searchbar-height);
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    color: #fff;
}

.login100-form-btn:hover:before {
    opacity: 0;
}