<%= form_with(model: order_product, local: true) do |form| %>
  <% if order_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_product.errors.count, "error") %> prohibited this order_product from being saved:</h2>

      <ul>
      <% order_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :bakery_product_id %>
    <%= form.text_field :bakery_product_id %>
  </div>

  <div class="field">
    <%= form.label :quantity_id %>
    <%= form.text_field :quantity_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
