<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_product.order %>
</p>

<p>
  <strong>Bakery product:</strong>
  <%= @order_product.bakery_product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_product.quantity %>
</p>

<%= link_to 'Edit', edit_order_product_path(@order_product) %> |
<%= link_to 'Back', order_products_path %>
